<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tec.bufeo.capitan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Util.InitializerGotev"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label, android:theme, android:name,android:allowBackup">
        <activity android:name=".Activity.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.WebTerminosYCondiciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ChanchasEquipos" />
        <activity
            android:name=".Activity.DetalleReservaEmpresa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PantallasNotificacion.ReservasNotificacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PantallasNotificacion.ChatsNotificacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.PantallasNotificacion.RetosNotificacion" />
        <activity android:name=".Activity.EditarDatosDePerfil" />
        <activity
            android:name=".Activity.MisReservas.Views.MisReservasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PerfilUsuarios.PublicacionesUsuario.PerfilUsuarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.InformacionGeneral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ConfirmacionReserva"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MasTorneos.MasTorneosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.EstadisticasEmpresas.EstadisticasEmpresas" />
        <activity
            android:name=".Activity.RegistroUsuario.RegistroPaso1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CalificarNegocios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RealizarRecarga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.MisMovimientos.Views.MisMovimientos" />
        <activity
            android:name=".Activity.RegistroReserva.ReservaEnBusqueda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MisNegociosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegistrarJugadoresEnEquipos.Views.RegistrarJugadoresEnEquipos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CrearEquipos"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activity.MasMisEquipos" />
        <activity
            android:name=".Activity.BusquedaEquipos.Views.MasEquipos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Registro_Torneo.RegistroTorneoFinalizado" />
        <activity android:name=".Activity.RegistrarEquipo.RegistroEquiposInstancias.Views.RegistrarPartidos" />
        <activity android:name=".Activity.Registro_Torneo.CrearInstancias.LIstaInstancias.ListarInstancias" />
        <activity android:name=".Activity.Registro_Torneo.CrearInstancias.RegistrarInstancias.Views.CrearInstancias" />
        <activity
            android:name=".Activity.RegistrarEquipo.RegistroEquipoEnGrupo.RegistroEquipoEnGrupo"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".Activity.Registro_Torneo.CrearEquipos.RegistrarEquipoEnGrupo" />
        <activity android:name=".Activity.Registro_Torneo.CrearGrupos.Views.CrearGrupoRelampago" />
        <activity
            android:name=".Activity.DetalleEquipo.DetalleEquipoNuevo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetallesTorneo.DetalleTorneoNuevo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ResutadoRetos" />
        <activity
            android:name=".MVVM.Torneo.Chats.Mensajes.Views.ChatsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MVVM.Foro.comentarios.Views.ComentariosActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MenuPrincipal"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RegistroUsuario.RegistroUsuario"
            android:configChanges="orientation|screenSize"
            android:label="Registro de Usuarios"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.DetalleNegocio"
            android:theme="@style/AppTheme.NoActionBarTransparent" />
        <activity
            android:name=".Activity.DetalleCanchas"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RegistroReserva.RegistroReserva"
            android:configChanges="orientation|screenSize"
            android:label="Reservar Cancha"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activity.RegistroReto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Registro_Torneo.RegistroTorneo"
            android:label="Registro Torneo" />
        <activity
            android:name=".Activity.RegistroForo"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.DetalleFotoUsuario"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Services.FireBaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>